<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<body>
		<form action="/account/add-property" method="post" enctype="multipart/form-data">
			Property name:
			<br>
			<input type="text" name="name">
			<br>
			Property description:
			<br>
			<input type="text" name="description">
			<br>
			Cost per night:
			<br>
			<input type="text" name="cpn">
			<br>
			Availability start date:
			<br>
			<input type="date" name="start_date" placeholder="start of availability">
			<br>
			Availability end date:
			<br>
			<input type="date" name="end_date" placeholder="end of availability">
			<br>
			<input type="file" name="file">
			<input type="submit" value="Upload image">
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
