<div id="menu">
  <div class=logo_and_title>
    <img src="images/logo_dark-on-light.svg">
    <a href='/'>INN COGNITO</a>
    <a>▸</a>
    <a href='/'>PROPERTIES</a>
  </div>

  <div class="message_and_options">

    <p class="welcomeMessage"></p>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" />
    </form>
    <form action="/view-requests" method="get">
      <input type="submit" value="View Booking Requests" />
    </form>

    <form action="/sign-in" method="get">
      <input type="submit" value="Sign in" />
    </form>
    <form action="/sign-up" method="get">
      <input type="submit" value="Sign up" />
    </form>

  </div>
</div>