<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/inncognito.css" >
  </head>
  <nav>
  </nav>
  <body>
    <header>

    </header>
      <h1>Welcome to Inn Cognito</h1>
      <h2><%= if @user then "Welcome, #{@user.name}" end%></h2>

      <form action="/sign-in" method="get">
        <input type="submit" value="Sign in" />
      </form>
      <form action="/sign-up" method="get">
        <input type="submit" value="Sign up" />
      </form>
      <% @listings.each do |listing| %>
        <ul>
          <b><%= listing.name%></b>
          <li><%= listing.description%></li>
          <li><%= listing.cpn%></li>
        </ul>
      <%end%>
    </body>
    <html>
