<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<body>
		<p>My requests:</p>
		<p>You currently have 1 booking requests</p>
		<p>My properties:</p>
		<% @properties.each do |property| %>
			<%if @user.id == property.user_id %>
				<ul>
					<b><%= property.name%></b>
					<li><%= property.description%></li>
					<li><%= property.cpn%></li>
				</ul>
			<%end%>
		<%end%>
		<p>My bookings:</p>
	</body>
</html>
