<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<div class="verticalCenter">
		<div id="sign-in">
			<img src="images/logo_light-on-clear.svg">
      
      <h1>500</h1>
      <h3>Whoops, something went wrong!</h3>

     <a href="/">Back to homepage</a>
     
    </div>
	</div>
</html>