// USAGE:
// run gem install sass
// sass --watch public/stylesheets/sass:public/stylesheets/css
// updating this file will automatically update the css file.

@import "colour";
@import "typography";

@mixin button-base {
  background-color: $base;
  color: $neutral;
  border: 1px lighten($base, 30%) solid;
  border-radius: 5px;
  padding: 5px;
  font-family: BrandonGrotesque, sans-serif;
  font-size: 20px;
  &:hover{
    background-color: lighten($base, 15%);
    border: 1px lighten($base, 40%) solid;
  }
}

@mixin tab-focus() {
  outline: none;
  }

::selection {
  background: $neutral; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $neutral; /* Gecko Browsers */
}

body {
  background-color: $base;
  margin: 0;
  font-family: BrandonGrotesque, sans-serif;
  font-weight: $light;
}

#menu {
  padding: 10px;
  grid-area: menu; 
  background-color: $base-light;
  align-items: stretch;
  input[type=submit]{
    @include button-base();
  }
  
  h1{
    font-size: 1.5em;
    display: inline;
    color: $neutral;
  }

  form{
    display: block;
    float: right;
  }
  #welcome {
    font-weight: bold;
    color: darken($color: $neutral, $amount: 25);
  }
}

#properties {
  grid-area: properties; 
 
}

.property{
  border-radius: 8px;
  border: 1px solid lighten($base-light, 14%);
  margin-bottom: 5px;
  background-color: $base-light;
  padding: 5px 15px 5px 15px;
  color: $neutral;
  h3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
  }

  button{
    @include button-base();
    @include tab-focus();
  }
}

.property-book{
  text-align: right;
}

.grid-container {
  display: grid;
  
  grid-template-areas: 'menu menu menu menu' 
  '. properties properties .';
  grid-gap: 10px;
 
  justify-content: stretch; 

}

.logo {
  max-width: 75px;
}