@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


$neutral: #202127;
// $accent:
$base: #D6D6D7;
$secondary: lighten($neutral, 5%);
// $success:
// $failure:

@font-face {
  font-family: "brandon_regular";
  src: "fonts/brandon-grotesque/Brandon_Text_Medium.otf";
}

@mixin button-base{
  background-color: $neutral;
    color: $base;
    border: 1px lighten($neutral, 30%) solid;
    border-radius: 5px;
    padding: 5px;
    font-family: 'brandon_regular', sans-serif;
    font-size: 20px;
}

body{
  background-color: $neutral;
  margin: 0;
  font-family: 'brandon_regular', sans-serif;
}

#menu {
  padding: 10px;
  grid-area: menu; 
  background-color: $secondary;
  align-items: stretch;
  input[type=submit]{
    @include button-base();
  }
  
  h1{
    display: inline;
    color: $base;
  }

  form{
    display: block;
    float: right;
  }
}

#welcome {
  grid-area: welcome;
  
}

#welcome h1{
  color: $base; 
}

#properties {
  grid-area: properties; 
 
}

.property{
  border-radius: 8px;
  border: 1px solid lighten($secondary, 14%);
  margin-bottom: 5px;
  background-color: $secondary;
  padding: 5px 15px 5px 15px;
  color: $base;
  h3{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
  }

  button{
    @include button-base();
  }
  
}

.property-book{
  text-align: right;
}

.grid-container {
  display: grid;
  
  grid-template-areas: 'menu menu menu menu' 
  '. welcome welcome .' 
  '. properties properties .';
  grid-gap: 10px;
 
  justify-content: stretch; 

}

.logo {
  max-width: 75px;
}