<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<body>
		<form action="/properties/new" method="post">
			<input type="text" name="name">
			<input type="text" name="description">
      <input type="text" name="cpn">
      <input type="date" name="start_date" placeholder="start of availability">
      <input type="date" name="end_date" placeholder="end of availability">
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
