<form action="/properties/new" method="post">
  <input type="text" name="name" placeholder="name of property">
  <input type="text" name="description" placeholder="description of property">
  <input type="text" name="cpn" placeholder="cost per night">
  <input type="date" name="start_date" placeholder="start of availability">
  <input type="date" name="end_date" placeholder="end of availability">
  <input type="submit" value="Submit">
</form>