<div>
	<form action="/account/add-property" method="post">
		Property name:
		<br>
		<input type="text" name="name">
		<br>
		Property description:
		<br>
		<input type="text" name="description">
		<br>
		Cost per night:
		<br>
		<input type="text" name="cpn">
		<br>
		Availability start date:
		<br>
		<input type="date" name="start_date" placeholder="start of availability">
		<br>
		Availability end date:
		<br>
		<input type="date" name="end_date" placeholder="end of availability">
		<br>
		<input type="submit" value="Submit">
	</form>
</div>
