<div class="centered" id="newProperty">
	<form action="/account/add-property" method="post" enctype="multipart/form-data">
		<p>
			Property name:
			<br>
			<input type="text" name="name" required>
		</p>
		<p>
			Property description:
			<br>
			<input type="text" name="description" required>
		</p>
		<p>
			Cost per night:
			<br>
			<input type="text" name="cpn" required>
		</p>
		<p>
			Availability start date:
			<br>
			<input type="date" name="start_date" placeholder="start of availability" required>
		</p>
		<p>
			Availability end date:
			<br>
			<input type="date" name="end_date" placeholder="end of availability" required>
		</p>
		<p>
			<input type="file" name="file">
		</p>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</div>
