<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" >
	</head>
	<body>
		<div class="verticalCenter">
			Your request to book <%= @property.name %> for <%= @duration %> nights has been sent
			<form action="/" method="get">
				<input type="submit" value="Back to properties">
			</form>
		</div>
	</body>
</html>
