<div>
	<div id="sign-in">
		<img src="images/logo_light-on-clear.svg">
		<form action="/sign-in" method="post">
			<input type="email" name="email" id="email" placeholder="email address">
			<input type="password" name="password" id="password" placeholder="password">
			<input type="submit" id="submit" value="Sign In">
		</form>
		<%= if flash[:notice] then "<p><b>#{flash[:notice]}</b></p>" end%>
			<p>Don't have an account? <a href="/sign-up">sign up</a> now.</p>
		</div>
	</div>
