// USAGE:
// run gem install sass
// sass --watch public/stylesheets/sass:public/stylesheets/css
// updating this file will automatically update the css file.

@import "colour";
@import "typography";
@import "base_styles";

body {
  p {
    color: $neutral;
  }
  h1 {
    color: $neutral;
  }
  h2 {
    color: $neutral;
  }
  h3 {
    color: $neutral;
  }
  background-color: $base;
  margin: 0;
  font-family: BrandonGrotesque, sans-serif;
  font-weight: $light;
}

.grid-container {
  display: grid;
  grid-gap: 10px;

  grid-template-areas:
    "menu menu menu menu"
    ". mainContent mainContent .";
}

::selection {
  background: $neutral; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $neutral; /* Gecko Browsers */
}

.mainContent {
  grid-area: mainContent;
}

.verticalCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sortProperties {
  display: inline-block;
  font-weight: $normal;
}
#selectSort {
  @include selection-list();
}

#menu {
  grid-area: menu;
  padding: 5 20 5 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  $menu_scale: 50px;
  background-color: lighten($base, 2%);
  border-bottom: 1px solid lighten($base, 10%);
  input {
    @include input-base();
  }

  .logo_and_title {
    display: flex;
    align-items: center;
    img {
      max-width: 50px;
    }
    a {
      font-size: 1.2em;
      font-weight: $bold;
      text-decoration: none;
      padding-top: 4px; // optical centering (aligning with consideration for the shapes involved)
      padding-left: 10px;
      display: inline-flex;
      color: $neutral;
    }
  }
  .message_and_options {
    display: flex;
    align-items: center;
    p {
      padding-top: 4px; // optical centering (aligning with consideration for the shapes involved)
    }
    form {
      display: inline-flex;
      padding-left: 10px;
      margin: 0px;
    }
  }
}
#properties {
  @include tab-focus();
  button {
    @include input-base();
  }
  input {
    @include input-base();
  }
  .property {
    height: auto;
    justify-content: center;
    @include drop-shadow();
    border-radius: 8px;
    border: 1px solid lighten($base-light, 15%);
    margin-bottom: 10px;
    background-color: $base-light;
    padding: 5px 15px 5px 15px;
    color: $neutral;
    h3 {
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 20px;
    }
    p {
      margin-top: 2px;
    }

    .property-book {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;
      justify-content: flex-end;
      align-content: center;
      p {
        text-align: right;
        display: inline-flex;
        margin: 0;
        margin-right: 10px;
      }
      form {
        display: inline-flex;
        margin: 0;
      }
    }
    min-height: 100;
    transition: color 0.2s ease-out, border 0.2s ease-out, min-height 0.2s ease-in-out;
    &:hover {
      border: 1px solid lighten($base-light, 22);
    }
    &:focus {
      border: 1px solid lighten($base-light, 26);
      min-height: 300;
    }
  }
}

#sign-up {
  @include enter_info();
}

#sign-in {
  @include enter_info();
}
