<div id="properties">
      <form action="/" method="get">
        <p id="sortProperties">Sort By</p>
        <select id="selectSort" id="sort" name="sort">
          <option>All</option>
          <option value="recent">Most recent</option>
          <option value="lowprice">Price (Lowest to Highest)</option>
          <option value="highprice">Price (Highest to Lowest)</option>
        </select>
      </form>
      <%if @current_user%>
        <form action="/account/add-property" method="get">
          <input type="submit" value="Add New Property">
        </form>
      <%end%>
      <% @properties.each do |property| %>
        <div tabindex="1" class="property">
          <h3><%= property.name%></h3>
          <p class="propert-desc"><%= property.description%></p>
          <div class="property-book">
            <p>£<%= property.cpn%> per night</p>
            <% if @current_user %>
              <form action="/book/<%= property.id %>" method="get">
                <input type="submit" value="Book">                
              </form>                                        
            <% else %>
              <form action="/sign-in" method="get">
                <input type="submit" value="Sign in to book">
              </form>
            <% end %>
          </div>
        </div>
  <% end %>
</div>