<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/css/base_style.css?version=9" >
  </head>
  <body>
    <div class="grid-container">
      <div id="menu">
        <div class=logo_and_title>
          <img src="/images/logo_dark-on-light.svg">
          <a href='/'>INN COGNITO</a>
          <% if session[:location] %>
          <% session[:location].each do |l| %>
            <a>▸</a>
            <%= "<a href=#{l[:link]}>#{l[:name].upcase}</a>" %>
          <%end%>
          <%end%>
        </div>
        <div class="flashNotice">
        <%= flash[:error] %>
        </div>
      <div class="message_and_options">
        <%if @current_user %>
        <p><%="Logged in as <b>#{@current_user.name}</b>"%></p>
        <form action="/sign-out" method="post">
          <input type="submit" value="Sign out" />
        </form>
        <form action="/account/manage-bookings" method="get">
          <input type="submit" value="View Booking Requests"/>
        </form>
        <% else %>
        <form action="/sign-in" method="get">
          <input type="submit" value="Sign in" />
          </form>
        <form action="/sign-up" method="get">
          <input type="submit" value="Sign up" />
        </form>
        <% end %>
      </div>
    </div>
    <div class="mainContent">
    <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="src/interface.js"></script>
  </body>
<html>
